{% extends "base.html" %}

{% block content %}
<div class = "bod">
    <h1>About</h1>
    <p>
        This site wil allow you to make a list of your favorite players and
        their stats in order to see which is the best out of all of them at
        the end of the season
    </p>
</div>
<div class="add">
    <img class="logo" src="/static/Jordan.png" alt="Add" width="400" height="500">
    <h1>
        Make your own list and
        <a href = "/add"> Get Started</a>
        Today
    </h1>
    <a href = "/add">Start your list</a>
</div>
{% endblock %}
