{% extends "base.html" %}

{% block content %}
<div class="List">
    <h1>Here Is Your List</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Points</th>
                <th>Assists</th>
                <th>Rebs</th>
                <th>Teams</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for nba in nbas %}
            <tr>
                <td>{{ nba[1] }}</td>
                <td>{{ nba[2] }}</td>
                <td>{{ nba[3] }}</td>
                <td>{{ nba[4] }}</td>
                <td>{{ nba[5] }}</td>
                <td>
                    <a href='/edit/{{nba[1]}}' method="get">Edit
                        <i class="bi bi-plus-circle-fill"></i>
                    </a>
                    <td>
                        <form action="/delete/{{ nba[1] }}" method="post">
                            <button id="submit-button" type="submit" style="background-color: rgb(45, 9, 9); color: white; font-size: small; padding: 0.3rem;"> <i class="bi bi-trash-fill"></i></button>
                        </form>
                    </td>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
